testout.root
testout_data.root
analyzed/TTgamma_output.root
stderr_TTGamma_Had.out
stderr1.out
.gitignore
stderr2.out
.gitignore
stderr31.out
stderr.out
analyzed/TTgamma_output1.root
analyzed/output.root
analyzed/output_DY.root
__pycache__/jobconfigskim.cpython-39.pyc
__pycache__/jobconfigskim.cpython-36.pyc
.gitignore
stderrSkimDY.out
stderr_TTGamma_Had_ptgamma100-200.out
